{{set . "title" "后台管理"}}
{{append . "moreStyles" "/public/css/dashboard.css"}}
{{append . "moreStyles" "http://cdn.bootcss.com/bootstrap-markdown/2.7.0/css/bootstrap-markdown.min.css"}}
{{append . "moreStyles" "http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css"}}
{{append . "moreStyles" "/public/lib/bootstrap-tagsinput/bootstrap-tagsinput.css"}}
{{template "header" .}}
{{template "admin_page_header" .}}
<h3>
  列表
  <botton id="add-blog-handle" type="button" class="btn btn-default small">
    <span class="glyphicon glyphicon-plus"></span>
    创建
  </botton>
</h3>

<table class="table">
  <tr>
    <th width="50%">标题</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  {{range .blogs}}
  <tr>
    <td>{{.Title}}</td>
    <td>{{showDate .Created}}</td>
    <td>{{showDate .Updated}}</td>
    <td>
      <botton type="button" class="btn btn-default edit-blog-handle" i="{{.Id}}">
        <span class="glyphicon glyphicon-pencil"></span>
      </botton>
      <botton type="button" class="btn btn-default del-blog-handle" i="{{.Id}}">
        <span class="glyphicon glyphicon-trash"></span>
      </botton>
      <a href="/blog/{{.Id}}" class="btn btn-default" target="_blank">
        <span class="glyphicon glyphicon-globe"></span>
      </a>
    </td>
  </tr>
  {{end}}
</table>

<div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/admin/blog/save" class="form form-horizontal" method="post">
        <input type="hidden" name="blog.Id" value="">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="blog.Title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="blog.Title" name="blog.Title" placeholder="标题（必填）"></div>
          </div>
          <div class="form-group">
            <label for="blog.Content" class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="blog.Content" rows="15" name="blog.Content" data-provide="markdown" data-iconlibrary="fa" placeholder="内容（必填）"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">上传图片</label>
            <div class="col-sm-10">
              <button type="button" class="btn btn-default" id="upload-blog-handle">添加</button>
            </div>
          </div>

          <div class="form-group">
            <label for="tagNames" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tagNames" name="tagNames"></div>
          </div>

          <div class="update">            
            <div class="form-group">
              <label class="col-sm-2 control-label">创建时间</label>
              <div class="col-sm-10">
                <p class="form-control-static created-at"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">更新时间</label>
              <div class="col-sm-10">
                <p class="form-control-static updated-at"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{template "pagination" .}}
{{append . "moreScripts" "http://cdn.bootcss.com/markdown.js/0.5.0/markdown.min.js"}}
{{append . "moreScripts" "http://cdn.bootcss.com/bootstrap-markdown/2.7.0/js/bootstrap-markdown.min.js"}}
{{append . "moreScripts" "/public/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"}}
{{append . "moreScripts" "/public/lib/typeahead.js/dist/typeahead.bundle.js"}}
{{append . "moreScripts" "/public/js/jquery.form.js"}}
{{append . "moreScripts" "/public/js/utils.js"}}
{{append . "moreScripts" "/public/js/admin.js?20141017"}}
{{template "admin_footer" .}}