<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default" style="margin-top:40px;">
        <div class="panel-body">
          <div class="alert alert-danger alert-dismissible" role="alert" ng-if="errMsg">
            <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
            </button>
            {{errMsg}}
          </div>
          <form ng-submit="login()" name="userForm" class="form-horizontal" method="post" style="margin-top:30px;">
            <div class="form-group">
              <label for="name" class="col-xs-3 control-label">用户名</label>
              <div class="col-xs-9">
                <input type="text" ng-model="userForm.name" class="form-control" id="name" placeholder="用户名"></div>
              </div>
              <div class="form-group">
                <label for="password" class="col-xs-3 control-label">密码</label>
                <div class="col-xs-9">
                  <input type="password" ng-model="userForm.password" class="form-control" id="password" placeholder="密码"></div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-9">
                    <button type="submit" class="btn btn-primary">登录</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>