{{set . "title" "TagCloud"}}
{{append . "moreStyles" "http://cdn.bootcss.com/jqcloud/1.0.4/jqcloud.css"}}
{{template "header" .}}
{{template "front_page_header" .}}
<section class="container" id="main">
  <div class="row">
    <div class="col-sm-8" style="position:relative;">
      <div id="tagcloud" style="height:300px"></div>
    </div>
    <div class="col-sm-4">{{template "front_page_sider" .}}</div>
  </div>
</section>
{{append . "moreScripts" "http://cdn.bootcss.com/jqcloud/1.0.4/jqcloud-1.0.4.min.js"}}
{{template "footer" .}}
<script>
  $(function(){    
    var words = [];
    {{range hotTags}}
    words.push({
      text:"{{.Key}}",
      weight:{{.Count}},
      link:"/tag/{{.Key}}"
    })
    {{end}}

    $("#tagcloud").jQCloud(words);
  });
</script>