{{set . "title" "登录页"}}
{{template "header" .}}
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-default" style="margin-top:40px;">
        <div class="panel-body">
          {{if .flash.error}}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            {{.flash.error}}
          </div>
          {{end}}

          <form action="/login" class="form-horizontal" method="post" style="margin-top:30px;">
            {{with $field := field "name" .}}
            <div class="form-group {{$field.ErrorClass}}">
              <label for="{{$field.Name}}" class="col-xs-3 control-label">用户名</label>
              <div class="col-xs-9">
                <input type="text" name="{{$field.Name}}" class="form-control" id="{{$field.Name}}" placeholder="用户名" value="{{$field.Flash}}"></div>
            </div>
            {{end}}
        {{with $field := field "password" .}}
            <div class="form-group {{$field.ErrorClass}}">
              <label for="{{$field.Name}}" class="col-xs-3 control-label">密码</label>
              <div class="col-xs-9">
                <input type="password" name="{{$field.Name}}" class="form-control" id="{{$field.Name}}" placeholder="密码" value="{{$field.Flash}}"></div>
            </div>
            {{end}}
            <div class="form-group">
              <div class="col-xs-offset-3 col-xs-9">
                <button type="submit" class="btn btn-primary">登录</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "footer" .}}