{{define "header"}}
<!DOCTYPE html>
<html>
	<html>
		<meta name="baidu-site-verification" content="Dzh9iaUtPG" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{if .title}}{{.title}} | Jack's Blog{{end}}</title>
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		{{range .moreStyles}}
		<link rel="stylesheet" type="text/css" href="{{.}}">{{end}}</head>
		{{end}}

{{define "front_page_header"}}
<link href="/public/css/font-awesome.min.css" rel="stylesheet">
<link href="/public/css/prettyPhoto.css" rel="stylesheet">
<link href="/public/css/animate.min.css" rel="stylesheet">
<link href="/public/css/main.css" rel="stylesheet">
<link href="/public/css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="/public/css/index.css?20141016" />
<body style="padding-top:70px;">

    <header id="header">
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Jack's Blog</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li{{if .nav}}{{if eq .nav 1}} class="active"{{end}}{{end}}>
							<a href="/">Blogs</a>
						</li>
						<li{{if .nav}}{{if eq .nav 2}} class="active"{{end}}{{end}}>
							<a href="/tag/cloud">Tagcloud</a>
						</li>
						<li{{if .nav}}{{if eq .nav 3}} class="active"{{end}}{{end}}>
							<a href="/about">About</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
		{{end}}

{{define "front_page_sider"}}
	<div class="widget tags">
	    <h3>Hot Tags</h3>
	    <ul class="tag-cloud">
		{{range hotTags}}
	        <li><a class="btn btn-xs btn-primary" href="/tag/{{.Key}}">{{.Key}}({{.Count}})</a></li>
		{{end}}
	    </ul>
	</div>

	<div class="widget archieve">
        <h3>Hot Blogs</h3>
        <div class="row">
            <div class="col-sm-12">
                <ul class="blog_archieve">
					{{range hotBlogs}}
					<li>
						<a href="/blog/{{.Id}}" title="{{.Title}}">
							<i class="fa fa-angle-double-right"></i>
							{{substr .Title 12}}
							<span class="pull-right small">阅读数：{{.ViewNum}}</span>
							</a>
					</li>
					{{end}}
                </ul>
            </div>
        </div>                     
    </div>
{{end}}

{{define "admin_page_header"}}
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">博客</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li{{if .blogs}} class="active"{{end}}>
						<a href="#">列表</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{{end}}

{{define "admin_footer"}}
				</div>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		{{range .moreScripts}}
		<script src="{{.}}" type="text/javascript" charset="utf-8"></script>
		{{end}}
</body>
	</html>
	{{end}}

{{define "footer"}}
<div id="footer" class="text-center small">@ 2014 <a href="http://blog.withword.com" target="_blank">Jack's blog</a> | Powerd by <a href="http://golang.org/" target="_blank">Golang</a></div>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	{{range .moreScripts}}
	<script src="{{.}}" type="text/javascript" charset="utf-8"></script>
	{{end}}
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?fd7facf933c3756ebbeab45321276847";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</body>
</html>
{{end}}

{{define "pagination"}}
{{if .count}}
<ul class="pagination">
  {{range (pages .count)}}
  {{if eq . $.page}}
  <li class="active">
    <a href="#">{{.}}
      <span class="sr-only">(current)</span>
    </a>
  </li>
  {{else}}
  <li>
    <a href="{{$.p_pre}}{{.}}">{{.}}</a>
  </li>
  {{end}}
  {{end}}
</ul>
{{end}}
{{end}}
